<div class="dir">
  <br/>
  <%= link_to 'Home', photos_path %>
</div>

<head>
  <div class="hd">
      <h1>
        <%= current_user.username %>'s Profile 
      </h1>
  </div>
  <br/>
</head>


<body>
  <div class="pt-idx">
    <p>
      <strong>Username</strong> <%= current_user.username %>
    </p>
    <p>
      <strong>Email</strong> <%= current_user.email %>
    </p>

    <% if current_user.profile %>

      <table class="tb1">
        <tr>
          <th>Firstname</th>
          <td>
            <%= current_user.profile.firstname %>
          </td>
        </tr>
        <tr>
          <th>Lastname</th>
          <td>
            <%= current_user.profile.lastname %>
          </td>
        </tr>
        <tr>
          <th>Bio</th>     
          <td>
            <%= current_user.profile.bio %>
          </td> 
        </tr>
        <tr>
          <th>Groups: </th>
          <td>
            <% current_user.groups.each do |group| %>
              <li>
                <%= group.name %>
              </li>           
            <%end%>  
          </td>
        </tr>
      </table>
    <% end %>


    <br/>
  </div>
</body>


