<div class="dir">
  <br/>
  <%= link_to 'Home', photos_path %>
  <%= link_to('Profile', controller: "profiles", action: "index") %>
</div>

<head>
  <div class="hd">
      <h1>
        Groups 
      </h1>
  </div>
  <br/>
</head>


<body>
  <div class="pt-idx">
        
      <table class="tb1">
        <tbody>
          <% current_user.groups.each do |group| %>
            <tr>
              <td><%= group.name %></td>
              <td><%= link_to 'Show', group %></td>
              <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

  </div>
  


</body>


